# Copyright Amazon.com, Inc. or its affiliates. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License").
# You may not use this file except in compliance with the License.
# A copy of the License is located at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# or in the "license" file accompanying this file. This file is distributed
# on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
# express or implied. See the License for the specific language governing
# permissions and limitations under the License.

# Description:
# Default elasticsearch.service file

[Unit]
Description=elasticsearch
 
[Service]
Type=simple
User=elasticsearch
Group=elasticsearch
# Load env vars from /etc/default/ and /etc/sysconfig/ if they exist.
# Prefixing the path with '-' makes it try to load, but if the file doesn't
# exist, it continues onward.
EnvironmentFile=-/etc/default/elasticsearch
EnvironmentFile=-/etc/sysconfig/elasticsearch
ExecStart=/usr/share/elasticsearch/bin/elasticsearch "-c /etc/elasticsearch/elasticsearch.yml"
Restart=always
WorkingDirectory=/

[Install]
WantedBy=multi-user.target
