name: Check Plugin Availability

on:
  schedule:
    - cron: '30 9 * * *'
jobs:
  plugin-avilability:
    name: Check Plugin Availability
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Checking Availability
        run: |
          #!/bin/bash
          CURRENT_NO_PLUGINS=7
          plugin_arr=()
          unavailable_plugin=()
          available_plugin=()
          PLUGINS="opendistro-sql/opendistro_sql opendistro-alerting/opendistro_alerting opendistro-job-scheduler/opendistro-job-scheduler opendistro-security/opendistro_security performance-analyzer/opendistro_performance_analyzer opendistro-index-management/opendistro_index_management opendistro-knn/opendistro-knn"
          
          cd elasticsearch/bin
          ls -ltr
          OD_VERSION=`./version-info --od`
          echo "$OD_VERSION"
          cd /home/runner/work/opendistro-build
          mkdir plugins
          ls -ltr
          cd plugins
          
          for item in $PLUGINS
          do
            plugin_folder=`echo $item|awk -F/ '{print $1}'`
            plguin_item=`echo $item|awk -F/ '{print $2}'`
            plugin_arr+=( $plguin_item )
            aws s3 cp s3://artifacts.opendistroforelasticsearch.amazon.com/downloads/elasticsearch-plugins/$plugin_folder/ . --recursive --exclude "*" --include "$plguin_item-$OD_VERSION*"
          done
          ls -ltr
          tot_plugins=`ls|wc -l`
          echo $tot_plugins
          echo "${#plugin_arr[*]}"
          
          curr_plugins=`ls`
          echo $curr_plugins
          for plgin in ${plugin_arr[*]}
            do
              if echo $curr_plugins|grep -q $plgin
              then
                  available_plugin+=( $plgin )
                  echo "$plgin exists"
              else
                  unavailable_plugin+=( $plgin )
              fi
            done

          cd /home/runner/work/opendistro-build/opendistro-build/
          
          echo "<h2>Below plugins are <b>not available</b> for ODFE-$OD_VERSION build</h2>" >> message.md
          if [ ${#unavailable_plugin[*]} -gt 0 ]
          then
              echo "<ol>" >> message.md
              for item in ${unavailable_plugin[*]}
              do
                echo "<li><h3>$item</h3></li>" >> message.md
              done
              echo "</ol>" >> message.md
              echo "<br><br>" >> message.md
          fi
          
          echo "<h2>Below plugins are <b>available</b> for ODFE-$OD_VERSION build</h2>" >> message.md
          if [ ${#available_plugin[*]} -gt 0 ]
          then
              echo "<ol>" >> message.md
              for item in ${available_plugin[*]}
              do
                echo "<li><h3>$item</h3></li>" >> message.md
              done
              echo "</ol>" >> message.md
              echo "<br><br>" >> message.md
          fi
      - name: Send mail
        uses: dawidd6/action-send-mail@master
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{secrets.MAIL_USERNAME}}
          password: ${{secrets.MAIL_PASSWORD}}
          subject: Opendistro for Elasticsearch Build - Daily Run (Plugin Status)
          # Read file contents as body:
          body: file://message.md
          to: sngri@amazon.com
          from: Opendistro Elasticsearch
          # Optional content type:
          content_type: text/html
